/* styles/globals.css */
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: Inter, sans-serif;
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }

  #__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  a {
    @apply no-underline;
    text-decoration: none !important;
  }
}

@layer components {
  .site-container {
    @apply px-site-padding-sm 
           sm:px-site-padding-md 
           md:px-site-padding-lg 
           lg:px-site-padding-xl 
           xl:px-site-padding-2xl 
           max-w-7xl mx-auto;
  }
}

/* ... other global styles ... */