.svgContainer {
  width: 100%;
  max-width: 1120px; /* 140 * 7 + 20 * 6 */
  margin: 0 auto;
  overflow-x: auto;
}

.rectangleSet {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.rectangleSet.visible {
  opacity: 1;
  transform: translateY(0);
}

.rectangleSet rect {
  transition: fill 0.3s ease-in-out;
}

@media (max-width: 1120px) {
  .svgContainer {
    max-width: 100%;
  }
}